@layout MainLayout
@page "/"

<h1 class="text-4xl font-bold mb-4 mt-[111px]">Hello, world!</h1>

Welcome to your new app.

<div class="mb-16">
    <Popper @bind-Open="_isOpen" Placement="Placement.Bottom" Offset="(5, 5)" AutoClose>
        <Anchor>
            <button class="bg-cyan-800 text-white rounded px-4 py-2" @onclick="() => _isOpen = !_isOpen">Testing Popper</button>
        </Anchor>
        <Content>
            <div class="border border-gray-300 bg-white p-4 rounded">
                Here's some popover content
            </div>
        </Content>
    </Popper>
</div>

<div class="mb-24">
    <Popper Open Placement="Placement.RightEnd" Offset="(10, 10)">
        <Anchor>
            <div class="p-8 border rounded border-gray-300">Testing</div>
        </Anchor>
        <Content>
            <div class="border border-gray-700 bg-gray-900 text-white p-4 rounded">
                Here's some popover content
            </div>
        </Content>
    </Popper>
</div>

@code {
    private bool _isOpen;
}

